input{
    position: absolute;
    top: 200px;
    left: 50; 
}

input#Click{
    position: absolute;
    left: 30px;
    top: 50px;
}
input#Clickx5{
    position: absolute;
    left: 110px;
    top: 50px;
}
input#UpgradeClick{
    position: absolute;
    left: 30px;
    top: 100px;
}
input#UpgradeGenProfit{
    position: absolute;
    top: 250px;
    left: 50px; 
}

p {
    color: black;
    position: absolute;
    left: 30px;
    top: 0px;
}
p2 {
    color: black;
    position: absolute;
    left: 350px;
    top: 50px;
}
p3 {
    color: black;
    position: absolute;
    top: 50px;
    left: 500px;
}